@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  height: 100vh;
  color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-size: 15px;
  padding: 4px;
  word-spacing: 2px;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 13px;
  }
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}
